/*
Dashboard Styles
*/

.content {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar {
  display: block;
  width: 150px;
  background-color: #f1f1f1;
  height: 100vh;
  padding: 20px 20px 20px 0;
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
}

/* Navigation links within the sidebar */
.sidebar nav ul li {
  list-style: none;
}

.sidebar nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: 18px;
}

/* Style for the active link and hover*/
.sidebar nav ul li:hover,
.sidebar nav ul li.active {
  text-decoration: underline;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li.active a {
  color: #676767;
}

.page-container {
  display: block;
  padding: 20px;
  width: calc(100% - 200px);
  margin-left: 200px;
}

.page-container div h1 {
  text-align: center;
  font-size: 50px;
}

/*
Form Styles
*/

.form,
.students-list,
.courses-list,
.results-list {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
}

.form {
  margin-bottom: 20px;
}

.form-errors {
  color: red;
  margin-bottom: 10px;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-right: 20px;
}

.form-inputs label {
  width: 100%;
  margin-bottom: 10px;
}

.form-inputs input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-action {
  display: flex;
  justify-content: flex-end;
}

.form-action button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*
 Notification Styles
 */

.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 20px;
  background-color: grey;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #ccc;
}

.notification.success {
  background-color: green;
}

.notification.error {
  background-color: red;
}

.notification button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
